body{
    font-family: Arial;
}

h1 {
    color: red;
    font-size: 30px;
    text-decoration: underline;
}

section {
    border: 5px solid black;
    margin: 2px;
}

.italic {
        font-style: italic;
}

p.bluetype {
    color: blue;
}

p.greentype{
    color: green;
    text-align: center;
    text-decoration: italic;
}

h2.underline.center{
    text-decoration: underline;
    text-align: center;
}

h2.underline{
    text-decoration: underline;
}

h3.middle{
    text-align: center;
    text-decoration: italic;
}

span.bold{
    font-weight: bold;
}